<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	">
  
  	<bean id="sampleDataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			destroy-method="close">
				<property name="driverClassName">
					<value>oracle.jdbc.OracleDriver</value>
				</property>
				<property name="url">
					<value>
						jdbc:oracle:thin:@//localhost:1521/XE
					</value>
				</property>
				<property name="username" value="rbt"/>
				<property name="password" value="rbt"/>
	</bean>

	<bean id="sampleSessionFactory"
			class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
			<property name="dataSource" ref="sampleDataSource"/>
			<property name="mappingResources">
				<list>
					<value>com/my/model/hbm/Category.hbm.xml" </value>
        			<value>com/my/model/hbm/CategoryDetails.hbm.xml"</value>
			        <value>com/my/model/hbm/Language.hbm.xml"</value>
			        <value>com/my/model/hbm/Tone.hbm.xml"</value>
			        <value>com/my/model/hbm/ToneCategory.hbm.xml"</value>
			        <value>com/my/model/hbm/ToneDetails.hbm.xml"</value>
				</list>
			</property>
			
			<!-- 
			In addition to DataSource Info
			The HIBERNATE property attributes and the mappings (class names or
			mapping file names) can also be assigned during the configuration of a LocalSessionFactory
			bean
			 -->
			<property name="hibernateProperties">
				<props>
				 	<prop key="dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				</props>
			</property>
  </bean>
  
  </beans>